@import "spacing";
@import "variables";
@import "functions";
@import "breakpoints";
@import "mixins";

html,
body {
  @include fontSize(1.1rem, normal);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14.5px;
}

* {
  box-sizing: border-box;
}

main {
  margin: $spacer-3 $spacer-3 0 $spacer-1;
  min-height: 100vh;
}

h1 {
  @include fontSize(2.3rem, 500);
  margin: 0;
  text-align: center;
}

h2 {
  @include fontSize(2.1rem, 500);
  margin: $spacer-3 0;
  color: $blackLighter;
}

h3 {
  @include fontSize(1.7rem, 500);
  margin: $spacer-3 0;
  color: $blackLighter;
}

h4 {
  @include fontSize(1.45rem, 500);
  margin: $spacer-2 0;
  color: $black;
}

h5 {
  @include fontSize(1.3rem, 500);
  margin: $spacer-1 0;
}

p {
  margin: $spacer-3 0;
  font-size: 1.2rem;
}

ul {
  margin: $spacer-2 0;
  padding: 0;
  list-style: none;

  li {
    @include fontSize(1.3rem, normal);
    padding: .5rem 1rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.isHorizontal {
    li {
      display: inline-block;
    }
  }

  &.hasTypeDisc,
  &.hasTypeDecimal {
    margin-left: $spacer-5;

    li {
      padding-left: 0;
    }
  }

  &.hasTypeDisc {
    list-style: disc;
  }

  &.hasTypeDecimal {
    list-style: decimal;
  }

  &.hasBorderBottom {
    li {
      border-bottom: 1px solid $grayLighter;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

img {
  display: inline-block;
  max-width: 100%;
}

hr {
  border: 0;
  background-color: transparentize($gray, .8);
  height: 1px;
  margin: $spacer-3 0;
}

code {
  display: block;
  margin: $spacer-2 0;
  font-size: 1.4rem;
}

a {
  color: $blueLighter;
  font-size: 1.2rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    @include fontSize(1.2rem, bolder);
  }

  &.link-ico-external {
    display: inline-flex;
    align-items: center;
  }
}

section {
  display: block;
  margin: $spacer-6 0;
}

select {
  margin: $spacer-2 0;
  border: 1px solid transparentize($black, .8);
  padding: .5rem;
  font-size: 1.3rem;

  &:focus {
    outline: 0 none;
  }
}

form {
  margin: $spacer-3 0;
}

input {
  @include fontSize(1.1rem, normal);
  width: 100%;
  margin: $spacer-2 0;
  outline: none;
  border-radius: .4rem;
  border: 1px solid transparentize($grayLight, .4);
  padding: .7rem 1rem;
}

label {
  @include fontSize(1.2rem, 500);
  margin: $spacer-2 0 $spacer-1 0;
  display: block;
}

mark {
  @include fontSize(1.12rem, 500);
  display: inline-block;
  margin: $spacer-1 $spacer-1 $spacer-1 0;
  border-radius: .6rem;
  background-color: transparentize($grayLighter, 0.5);
  padding: .2rem 1rem;
  color: $blackLight;

  &.hasBorder {
    border: 1px solid $gray;
    background-color: transparent;
  }
}

figure {
  margin: 0;
}

section {
  display: block;
  margin: $spacer-6 0;
}

select {
  margin: $spacer-2 0;
  border: 1px solid transparentize($black, .8);
  padding: .5rem;
  font-size: 1.3rem;

  &:focus {
    outline: 0 none;
  }
}

form {
  margin: $spacer-3 0;
}

input {
  @include fontSize(1.1rem, normal);
  width: 100%;
  margin: $spacer-2 0;
  outline: none;
  border-radius: .4rem;
  border: 1px solid transparentize($grayLight, .4);
  padding: .7rem 1rem;
}

label {
  @include fontSize(1.2rem, 500);
  margin: $spacer-2 0 $spacer-1 0;
  display: block;
}

mark {
  @include fontSize(1.12rem, 500);
  display: inline-block;
  margin: $spacer-1 $spacer-1 $spacer-1 0;
  border-radius: .6rem;
  background-color: transparentize($grayLighter, 0.5);
  padding: .2rem 1rem;
  color: $blackLight;

  &.hasBorder {
    border: 1px solid $gray;
    background-color: transparent;
  }
}

figure {
  margin: 0;
}

.btn {
  cursor: pointer;
  margin: $spacer-2 $spacer-1 $spacer-2 0;
  border-radius: 1.3rem;
  border: 0 none;
  padding: .7rem 1.7rem;
  color: $white;
  font-size: 1.2rem;

  a {
    color: $white;
    text-decoration: none;
  }

  &-info {
    background-color: $green;

    &:hover {
      background-color: $greenDarker;
    }
  }

  &-primary {
    background-color: $grayLight;

    &:hover {
      background-color:$grayDarker;
    }
  }

  &-remove {
    background-color: $red;

    &:hover {
      background-color: $redDarker;
    }
  }

  &-submit {
    background-color: $blueLight;

    &:hover {
      background-color:$blueDark;
    }
  }

  &-edit {
    background-color: $orange;

    &:hover {
      background-color:$orange;
    }
  }

  &-link,
  &-link-has-ico {
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: $black;
    text-align: left;
  }

  &-link-has-ico {
    padding: 0 .5rem;
    text-align: center;
  }
}

.active {
  color: $blueLighter!important;
}

.hasOutline {
  margin: $spacer-4 0;
  border-radius: .4rem;
  outline: 1px solid transparentize($grayLight, .7);
  padding: 1rem;

  h3 {
    margin-top: 0;
  }
}

.display {
  margin: 0;

  &-inline-block {
    display: inline-block;
  }

  &-flex {
    display: flex;
    justify-content: center;
  }

  &-flex-start {
    display: inline-flex;
    justify-items: start;
    align-items: center;
  }
}

.like-box {
  margin: $spacer-3 $spacer-1;
  border-radius: 1rem;
  background-color: $grayLightest;
  padding: .2rem 1rem;

  .numLike {
    @include fontSize(1.2rem, 400);
  }

  .message {
    @extend .numLike;
    display: inline-block;
    margin: 0 0 0 1rem;

  }
}

.txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.isMediumDevice,
.isLargeDevice {
  display: none;
}

@media #{$screen-md} {
  h1 {
    font-size: calc(1.3rem + 1.2vw);
  }

  .isMediumDevice {
    display: block;
  }
}

