@import "../../../styles/breakpoints";
@import "../../../styles/spacing";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.cart {
  margin: $spacer-5 10%;

  .orderBox {
    background-color: $grayLightest;

    .priceBox {
      border-radius: 2em;
      border: 1px solid $grayLighter;
      background-color: $white;
      padding: .5rem 1rem;
    }
  }
}

.orderWrapper {
  margin: $spacer-4 0;
  border: 1px solid $grayLighter;
  font-size: 1.2rem;

  .mark {
    @include fontSize(1.3rem, bolder);
    display: inline-block;
    margin: 0 $spacer-2;
    border-radius: .3rem;
    background-color: $white;
    padding: .2rem .5rem;
    text-shadow: 1px 1px 2px #fff;
  }

  .btn {
    @include fontSize(2rem, 500);
    margin: -.2rem 0 -.2rem $spacer-3;
    background-color: $greenLight;
    padding: .2rem .8rem;
    color: $white;

    &.decrease {
      margin-left: -$spacer-1;
      border-left: 1px solid $white;
      background-color: $red;
    }

    &.hasRadius {
      margin-right: -$spacer-4;
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }
}



